<head>
  <title><%= title %></title>
  <link href="/stylesheets/layout.css" rel="stylesheet" type="text/css">
  <script src="/javascripts/lib/require.min.js" data-main="/javascripts/config" type="text/javascript"></script>
</head>